<!DOCTYPE html>
<html>
<head>

  <title>ChefTravel - Argentina</title>

  <link rel="stylesheet" type="text/css" href="/pais.css"></head>
  <body>

    <nav>
      <ul class="menu">
        <li><a href="http://localhost:4567/menu">Menú</a></li>
        <li><a href="#">Recetario</a></li>
        <li><a href="http://localhost:4567/ranking">Ranking</a></li>
        <li><a href="http://localhost:4567/profile"><%= user.name%></a></li>
        <li><a>Puntos: <%= user.points.to_json%></a></li>
        <li><a href="http://localhost:4567/logout">Logout</a></li>
      </ul>
    </nav>

    <div id="contenedor">
      <div class="banner_img" >
        <img src="https://github.com/eabalestra/AYDS-Project-2023/blob/main/cheftravel/public/for_others/arg_png.png?raw=true">
        <a href="http://localhost:4567/level/1" class= "buttonlevel" style="top: 580px; right: 620px;">Level 1</a>
<%#         <a href="http://localhost:4567/level/2" class= "buttonlevel" style="top: 580px; right: 600px;">Level 2</a>
        <a href="http://localhost:4567/level/3" class= "buttonlevel" style="top: 580px; right: 600px;">Level 3</a>
        <a href="http://localhost:4567/level/1000" class= "buttonlevel" style="top: 580px; right: 600px;">Frontera a Chile</a> %>
      </div>
    </div>

  </body>
</html>