<!DOCTYPE html>
<html>
  <head>
    <title>ChefTravel</title>
    <link rel="stylesheet" type="text/css" href="/login.css">
  </head>

  <body>
    <div class="login-box">
      <img class="avatar" src="https://raw.githubusercontent.com/eabalestra/AYDS-Project-2023/develop/cheftravel/public/chef_recortado.png" alt="logo de cheftravel">
      <br><h1>Login</h1>
      <form action="/logmenu" method="POST">
        <!-- USERNAME-->
        <label for="username">Username</label>
        <input type="text" name="name" placeholder="Enter Username">

        <!-- PASSWORD-->
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter password">

        <input type="submit" value="Let's cook!">
        <form action="/register" method="GET">
          <a href="http://localhost:4567/register">No tienes cuenta? Registrate gratis!</a>
                  <p class="failmsg"><%= msg %></p>

        </form>
      </form>
       <!-- GOOGLE LOGIN -->
      <body>
        <script src="https://accounts.google.com/gsi/client" async></script>
        <div id="g_id_onload"
            data-client_id="832010478415-ugp0o039v71f8kv1334rckru6tegj2qa.apps.googleusercontent.com"
            data-login_uri="http://localhost:4567/auth/google_callback"
            data-auto_prompt="false">
        </div>
        <div class="g_id_signin"
            data-type="standard"
            data-size="large"
            data-theme="outline"
            data-text="sign_in_with"
            data-shape="rectangular"
            data-logo_alignment="center"
            >
        </div>
      </body>
    </div>
  </body>
</html>