<!DOCTYPE html>
<html>
  <head>
    <title>ChefTravel</title>
    <link rel="stylesheet" type="text/css" href="login.css">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/eabalestra/AYDS-Project-2023/9b730cb40b82593e667bd9b70251ac136c17d2f6/cheftravel/public/for_others/fondoLogin.jpeg">
  </head>
  <body>

      <style>

    .failmsg{
      color: red;
    }


    </style>

    <div class="login-box">
      <img class="avatar" src="https://github.com/eabalestra/AYDS-Project-2023/blob/main/chef_recortado.png?raw=true" alt="logo de cheftravel">
      <br><h1>Login</h1>
      <form action="/logmenu" method="POST">
        <!-- USERNAME-->
        <label for="username">Username</label>
        <input type="text" name="name" placeholder="Enter Username">

        <!-- PASSWORD-->
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter password">

        <input type="submit" value="Let's cook!">
        <form action="/register" method="GET">
          <a href="http://localhost:4567/register">No tienes cuenta? Registrate gratis!</a>
                  <p class="failmsg"><%= @msg %></p>

        </form>
      </form>
    </div>
  </body>
</html>