<html>
  <head>Bienvenido a ChefTravel <br></head>
  <body> Inserte su nombre para ingresar o crear su usuario<br>
    <form action="/users" method="POST">
      <input type="name" name="name">
      <button>Register</button>  
    </form>
  </body>
</html>