<!DOCTYPE html>
<html>
  <head>
    <title>ChefTravel</title>
    <link rel="stylesheet" type="text/css" href="login.css">
    <link rel="shortcut icon" href="https://github.com/eabalestra/AYDS-Project-2023/blob/main/cheftravel/public/fondoLogin.png?raw=true">
  </head>
  <body>

    <div class="login-box">
      <img class="avatar" src="https://github.com/eabalestra/AYDS-Project-2023/blob/main/chef_recortado.png?raw=true" alt="logo de cheftravel">
      <h1> Login Here </h1>
      <form action="/logmenu" method="POST">
        <!-- USERNAME-->
        <label for="username">Username</label>
        <input type="text" name="name" placeholder="Enter Username">

        <!-- PASSWORD-->
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter password">

        <input type="submit" value="Log in">

        <form action="/register" method="GET">
          <a href="http://localhost:4567/register">No tienes cuenta? Registrate gratis!</a>
        </form>
      </form>
    </div>
  </body>
</html>