<!DOCTYPE html>
<html>
  <head>
    <title>ChefTravel</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>
  <body>
    <style>
    .centrar {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    </style>
    <h1>Bienvenido a ChefTravel</h1>
    <img src="https://raw.githubusercontent.com/eabalestra/AYDS-Project-2023/373c7a4561fbe5c015f89fad24eca296c4050d9c/cheftravel/public/cheftravel.png" border="0" width="200" height="200" class="centrar">
    <p>Inserte su nombre y clave para ingresar o crear su usuario</p>
    <form action="/menu" method="POST">
      <input type="text" name="name" placeholder="Nombre">
      <input type="password" name="password" placeholder="Contraseña">
      <button>Register</button>
    </form>
  </body>
</html>