<!DOCTYPE html>
<html>
<head>

  <title>ChefTravel</title>

  <link rel="stylesheet" type="text/css" href="arg.css"></head>
<body>

		<nav>
			<ul class="menu">
        <li><a href="#">Recetario</a></li>
        <li><a href="http://localhost:4567/ranking">Ranking</a></li>
        <li><a href="#">Puntos: <%= @user.points.to_json%></a></li>
				<li><a href="#"><%= @user.name%></a></li>
        <li><a href="http://localhost:4567/profile">Profile</a></li>
				<li><a href="http://localhost:4567/logout">Logout</a></li>
			</ul>
		</nav>

    <div id="contenedor">
      <div class="banner_img" >
        <img src="https://github.com/eabalestra/AYDS-Project-2023/blob/main/cheftravel/public/for_others/arg_png.png?raw=true">
      </div>
    </div>

<a href="http://localhost:4567/level/16"><button class="button">Level 1</button>
<a href="http://localhost:4567/level/17"><button class="button">Level 2</button>
<a href="http://localhost:4567/level/18"><button class="button">Level 3</button>
</body>
</html>