<!DOCTYPE html>
<html>
<head>
</head>
<body>
  
  <style>
    body {
      background-color: #f2f2f2;
      text-align: center;
      padding: 20px;
    }
        
    img {
      max-width: 400px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

  input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
    
  
  </style>
    <h1>Bienvenido <%= @@user.firstname.to_json%> a ChefTravel !!!</h1>
    Tus puntos actuales son: <%= @@user.points.to_json%>
  <h2>Listo para aprender a cocinar?<br><br><br><br><br></h2>
    
  <img src="https://github.com/eabalestra/AYDS-Project-2023/blob/main/cheftravel/public/2484664.jpg?raw=true" border="1" width="600" height="200">

  <br><br><br><br><a href="http://localhost:4567/question/1"><input type="submit" name = "givquest" value="Dame la maldita pregunta!"><br><br>
<a href="http://localhost:4567/ranking"><input type="submit" name = "ranking" value="VER RANKING"><br><br>
<a href="http://localhost:4567/"><input type="submit" name = "logout" value="Logout"><br><br>

</body>
</html>