<!DOCTYPE html>
<html>
<head>
  <title>ChefTravel</title>
  <link rel="stylesheet" type="text/css" href="/nomorequest.css">
</head>
<body>
  <h1><%= msg%></h1>
  
  <img src="https://12noticias.tv/wp-content/uploads/2014/09/maradona_ojito.jpg" border="1" width="300" height="200"><br><br><br><br>


    <p class="puntos-izq"> Puntos: <%= user.points.to_json%></p>
    <p class="nombre-der">user: <%= user.name%></p>
  
  <a href="http://localhost:4567/menu"><input type="submit" name = "menu" value="Volver al menu">
  </div>
</body>
</html>
