<!DOCTYPE html>
<html>
<head>
</head>
<body>
  
  <style>
    body {
      background-color: #f2f2f2;
      text-align: center;
      padding: 10px;
    }
    
    img {
      max-width: 400px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  </style>
  <h1>A ver qué tanto sabes sobre gastronomía Argentina, papá</h1>
  <p><%= @question.text%></p>
  <p><%= @users.to_json%></p>
  

  
  <img src="https://github.com/eabalestra/AYDS-Project-2023/blob/main/cheftravel/public/milanga.jpg?raw=true" border="1" width="300" height="200">
  <h2>Opciones:</h2>
  
  <form action="/question/:id" method="POST">
    <input type="submit" name="option" value="Tomate"><br><br>
    <input type="submit" name="option" value="Jamon"><br><br>
    <input type="submit" name="option" value="Queso"><br><br>
    <input type="submit" name="option" value="Huevo"><br><br>
  </form>
  Te bancas otra o sos cagon?<br><br>
  <a href="http://localhost:4567/question"><input type="button" name = "sig" value="Siguiente pregunta!"><br><br>
  
  <a href="http://localhost:4567/menu"><input type="button" name = "menu" value="Volver al menu">
</body>
</html>