<!DOCTYPE html>
<html>
<head>
</head>
<body>
  
  <style>
    body {
      background-color: #f2f2f2;
      text-align: center;
      padding: 20px;
    }
    
    img {
      max-width: 400px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
  </style>
  <h1>A ver qué tanto sabes sobre gastronomía Argentina, papá</h1>
  <p>¿Cuál es el ingrediente principal de una milanesa a caballo?</p>
  <img src="https://github.com/eabalestra/AYDS-Project-2023/blob/main/cheftravel/views/milanga.jpg?raw=true" border="1" width="300" height="200">
  <h2>Opciones:</h2>
  
  <a href="http://localhost:4567/question/incorrect"><input type="submit" name="option" value="Tomate"></a><br><br>
  <a href="http://localhost:4567/question/incorrect"><input type="submit" name="option" value="Jamon"></a><br><br>
  <a href="http://localhost:4567/question/incorrect"><input type="submit" name="option" value="Queso"></a><br><br>
  <a href="http://localhost:4567/question/correct"><input type="submit" name="option" value="Huevo"></a><br><br>
</body>
</html>