<!DOCTYPE html>
 <html lang="en" title="Coding design" >
 
 <head>
     
     <title>Chef-RANKING</title>
      <link rel="stylesheet" type="text/css" href="/ranking.css"></head>
 </head>
 
 <body>
     <main class="table">
         <section class="table__header">
             <h1>CHEF-RANKING</h1>
             
             
             </div>
         </section>
         <section class="table__body">
             <table>
                 <thead>
                     <tr>
                        <tr>
                            <th>Posición</th>
                            <th>Jugador</th>
                            <th>Puntos</th>
                          </tr>
                     </tr>
                 </thead>
                 <tbody>
                    <% userspoints.each_with_index do |user, index| %>
                     <tr>
                        <td><%= index + 1 %></td>
                        <td><%= usersname[index].name %></td>
                        <td><%= user.points %></td>
                     </tr>
                     <% end %>
                 </tbody>
             </table>

             <div class="ranking-izq">
                <a href="http://localhost:4567/menu"><button class="buttonmenu"><span>Volver al menu</span></button></a>
              </div>
         </section>
     </main>
 </body>
 
 </html>