<!DOCTYPE html>

  <head>
    <title>RecipeBook - ChefTravel</title>
    <link rel="stylesheet" type="text/css" href="/recipebook.css"></head>
  </head>
  
  <body>
      <nav>
        <ul class="menu">
          <li><a href="http://localhost:4567/menu">Menú</a></li>
          <li><a href="http://localhost:4567/recipe-book">Recetario</a></li>
          <li><a href="http://localhost:4567/ranking">Ranking</a></li>
          <li><a href="http://localhost:4567/profile"><%= user.name%></a></li>
          <li><a>Puntos: <%= user.points.to_json%></a></li>
          <li><a href="http://localhost:4567/logout">Logout</a></li>
        </ul>
      </nav>

    <main class="table">
      <section class="table__header">
        <h1>Mi Recetario</h1>
      </section>
      <section class="table__body">
        <table>
          <tbody>
          <% if levels.empty? %>
            <h2>No tienes recetas aun</h2>
          <% else %>
            <% levels.each do |level| %>
                <a href="http://localhost:4567/recipe-book/<%=level.id%>"><p><%= level.name %></p>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </section>
    </main>
  </body>
 
 </html>
