<!DOCTYPE html>
<html>
  <head>
    <title>ChefTravel</title>
    <link rel="stylesheet" type="text/css"  href="/login.css">
  </head>
  <body>

    <div class="login-box">
      <img class="avatar" src="https://github.com/eabalestra/AYDS-Project-2023/blob/main/chef_recortado.png?raw=true" alt="logo de cheftravel">
      <br><h1> Registrese </h1>
      <form action="/registermenu" method="POST">

        <label for="firstname"></label>
        <input type="text" name="firstname" placeholder="Nombre">

        <label for="lastname"></label>
        <input type="text" name="lastname" placeholder="Apellido">

        <label for="email"></label>
        <input type="text" name="email" placeholder="E-mail">

        <!-- USERNAME-->
        <label for="username"></label>
        <input type="text" name="name" placeholder="Username">

        <!-- PASSWORD-->
        <label for="password"></label>
        <input type="password" name="password" placeholder="Contraseña">

        <label for="reppw"></label>
        <input type="password" name="reppw" placeholder="Repita su Contraseña">

        <input type="submit" value="Let's cook!">
        
      </form>
      <a href="http://localhost:4567/"><input type="submit" value="Volver al login">
    </div>
  </body>
</html>
