/* menu de arriba */
.menu {
  background: rgb(29, 113, 165);
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  margin: 10px 80px;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.menu li a:hover {
  background-color: rgb(12, 129, 176);
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(27,106,167);
  background: radial-gradient(circle, rgba(27,106,167,1) 0%, rgba(40,159,233,1) 61%);
  background-size: cover;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
  padding: 10px;
}

#contenedor {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_img img {
  width: 680px;
  height: 680px;
  display: block;
}

.pin {
  background: rgb(29, 113, 165);
  position: absolute;
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  color: #fff;
}

.pin::before {
  content: '';
  background: rgb(29, 113, 165);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: pulse 1.3s ease-in-out infinite;
}

.pin span {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  left: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(29, 113, 165);;
  border-radius: 3em;
  padding: 0.3em 0.6em;
  font-size: 0.9em;
}

.level1 {
  top: 75%;
  left: 50%;
}

.level2 {
  top: 60%;
  left: 45%;
}

.level3 {
  top: 45%;
  left: 42%;
}

.fronteraChile {
  top: 35%;
  left: 37%;
}

@keyframes pulse {
  100% {
    opacity: 0;
    transform: translate(-50%,-50%) scale(2.5);
  }
}

