
body {
  background-color: #E0FFFF; /* Celeste claro */
  font-family: Arial, sans-serif;
}

h1 {
  color: #FFFFFF; /* Blanco */
  background-color: #5F9EA0; /* Celeste medio */
  padding: 10px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #FFFFFF; /* Blanco */
}

table th {
  background-color: #5F9EA0; /* Celeste medio */
  color: #FFFFFF; /* Blanco */
}

table tr:nth-child(even) {
  background-color: #E0FFFF; /* Celeste claro */
}

table tr:nth-child(odd) {
  background-color: #FFFFFF; /* Blanco */
}

.ranking-izq {
  color: black;
  position: absolute;
  top: 0
}

input[type="submit"] {
background-color: #3b3f3cb7;
border: none;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 5%;
}
